body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

#appContent{
  display: flex;
 flex-direction: row;
}


#navSide {
  top: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  transition: all 0.5s;
  padding: 0 15px;
  background: radial-gradient(circle, rgb(0, 33, 33) 7%, rgba(0, 75, 94) 95%);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: sticky;
}
#navSide a {
  color: white;
  font-weight: bold;
  line-height: 155px;
  font-size: 25px;
  text-decoration: none;
  border-radius: 5px, 10px, 5px, 10px;
}
#navSide a:active {
  color: rgb(255, 255, 255);
  opacity: 1;
}

.NavLink:active {
  background-color: crimson;
}


#pageContent {
  padding: 0;
  margin: 0;
  z-index: 99;
  background-color: rgb(14, 0, 94);
}
.row {
  margin: 0;
  padding: 0;
}
#root {
  margin: 0;
  padding: 0;
  width: 100%;
}
#bootContainer {
  margin: 0;
  padding: 0;
  width: 100%;
}